* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Roboto, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

#root {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #202531;
}
